
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5" style="max-width: 400px">
        <h3 class="mb-3">Đăng nhập</h3>

        <form method="post">
            <input name="username" class="form-control mb-2" placeholder="Username" />
            <input name="password" type="password" class="form-control mb-2" placeholder="Password" />

            <button class="btn btn-primary w-100">Đăng nhập</button>
        </form>

        <p class="text-danger mt-2">@ViewBag.Error</p>
    </div>
</body>
</html>
